extends ../../../components/layout/layouts/blank

block container
  .Auth
    include header

    form.AuthForm.js-form( action= form_url method='POST' )
      //- TODO: Errors

      .Fieldset
        input.Input(
          name='email'
          type='email'
          placeholder='Email'
          required
          autofocus
        )

        .AuthForm__password
          input.Input(
            name='password'
            type='password'
            placeholder='Password'
            autocomplete='on'
            required
          )
          a( href='/forgot_password')
            | Forgot?

      button.Button.Button--divider.js-submit
        | Log in

block scripts
  script( src= asset('/assets/auth.js') )
